body {
    background-image: url("cute-cat-paws-footprint-seamless-pattern-background_42349-730.avif");
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    color: rgb(71, 71, 71);
}

h1 {
    font-size: 80px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    text-decoration: underline 5px;
    text-underline-offset: 6px;
    border-bottom: 2px;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
}

h4 {
    font-weight: 100;
}

h5 {
    font-size: large;
}

#welcome {
    margin-bottom: 1px;
}

#upload {
    margin-top: 1px;
}

img {
    border-radius: 50px;
    width: 400px;
    height: 500px;
    object-fit: cover;
    outline-style: solid;
    outline-color: gray;
    outline-width: 10px;
}

.mycats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
}

figcaption {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(71, 71, 71);
}

a:hover {
    color: hotpink;
}

fieldset {
    padding: 2rem 0;
    border: none;
    padding: 1px;

}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 1px 0 0 0;
    width: 30%;
    min-height: 2em;
}

input, textarea {
    border: 1px solid rgb(118, 118, 118);
    color: #ffffff;
  }

#cat {
    color: grey;

  }
input[type="file"] {
    padding: 1px 2px;
  }
button{
    display: block;
    width: 10%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(203, 203, 203);
    border-color: white;
    min-width: 300px;
}

h6 {
    margin-bottom: 0px;

    font-size: smaller;

}
ul {
    display: inline;
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
